*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #0a0a0a;
}

header{
    padding-inline: 16px;

}

a{
    text-decoration: none;
    font-weight: 400;

}

.nav{
    max-width: 1280px;
    height: 100px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img{
    display: flex;
    height: 80px;
    align-items: center;
    text-align: center;
    
}

.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a{
    font-size: 18px;
    color: #e9e9e9;
    padding-block: 16px;
    position: relative;
    letter-spacing: 1px;

}

.nav-list a::before{
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    width: 100%;
    background: rgb(89, 255, 47);
    border-radius: 50px;
    transform: scaleX(0);
    transition: transform 0.2s linear;


}

.nav-list a:hover::before{
    transform: scaleX(1);
}

.hamburger{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #e9e9e9;
    cursor: pointer;

}

.hamburger::before,.hamburger::after{   
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #e9e9e9;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

main{
    height: 700px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #e9e9e9;
    margin-bottom: 30px;
}


main .container{
    width: 450px;
    height: 700px;

    border-radius: 42px;
    background: #0a0a0a;
    box-shadow:  10px 10px 19px #070707,
                    -10px -10px 19px #0f0f0f;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    letter-spacing: 2px;
    padding: 10px;
}

#container-inicio p{
    font-size: 13px;
    text-align: left;
    
}

.janela-modal{
    display: flex;
    justify-content: space-around;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    backdrop-filter: blur(3px);

  }
  
  .modal-content {
    background-color: #fefefe;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin: 50% auto;
  }
  
  .modal.active .modal-content {
    transform: translateY(0);
  }

.modal-header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #888;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.modal-body p{
    margin-bottom: 1rem;
}
  
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  
.close:hover,
.close:focus {
    color: #070707;
}
  
.modal-btn {
    cursor: pointer;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
  
@media screen and (max-width: 600px) {
    .modal-content {
      width: 90%;
    }
}
































@media (max-width: 750px){
    .hamburger{
        display: block;
        z-index: 1;
    }
    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgb(89, 255, 47);
        color: #0a0a0a;
        clip-path: circle(100px at 90% -20%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a{
        font-size: 24px;
        opacity: 0;
        color: #0a0a0a;
        font-weight: 400;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }


    .nav.active .nav-list{
        clip-path: circle(1500px at 90% -20%);
        pointer-events: all;
    }

    .nav.active .nav-list a{
        opacity: 1;
    }

    .nav.active .hamburger{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before{
        transform: rotate(135deg);
        background: #0a0a0a;

    }
    .nav.active .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
        background: #0a0a0a;

    }
}